{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Распознавание речи</h1>
    <form action="{{ url_for('speechkit.recognition') }}" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" accept=".mp3,audio/*" id="audio" name="audio">
        <button type="submit" class="btn btn-primary my-3">Распознать</button>
    </form>
    <div>
        {% if text %}
        <span>{{ text }}</span>
        {% endif %}
    </div>
</div>


{% endblock %}